.page-wrapper
{
	padding-top: 0rem !important;
}

ul.list-inline
{
	margin-left: 2em;
}

#queryOptions
{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.submitContainer
{
	text-align: center;
	margin: 2em 0em 0em 0em;
}

.btn
{
	padding-left: 7em;
	padding-right: 7em;
}