#tableContainer > div.card, #tableContainer > div.card-default, #tableContainer > div.pb-5
{
    margin-bottom: 0em;
    padding-bottom: 0em !important;
}

#tableContainer .card-header
{
    padding-top: 2em;
    padding-bottom: 2em;
}

#tableContainer .card-body
{
    overflow: auto;
    height: 40em;
    padding: 0em;
}

#table #thead
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    background: #fff;
}

#table th, #table td
{
    text-align: center;
    vertical-align: middle;
}

.first-col
{
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 5;
    background-color: #fff;
    text-align: right !important;
}

.second-col
{
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 5;
    background-color: #fff;
    text-align: right !important;
}

#table th[rowspan="2"]
{
    vertical-align: bottom;
}