<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Italy Rents</title>

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet"/>
  <link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet" />

  <!-- PLUGINS CSS STYLE -->
  <link href="../styles/plugins/select2/select2.min.css" rel="stylesheet" />
  
  <!-- SLEEK CSS -->
  <link id="sleek-css" rel="stylesheet" href="../styles/css/sleek.css" />

  <!-- ITALYRENTS CSS -->
  <link href="../styles/italyrents-css/fixed_styles.css" rel="stylesheet" />
  <link href="../styles/italyrents-css/select_box.css" rel="stylesheet" />
  <link href="../styles/italyrents-css/loader.css" rel="stylesheet" />
  <link href="../styles/italyrents-css/rating_classes_page.css" rel="stylesheet" />
  
  <!-- FAVICON -->
  <link href="../images/favicon.png" rel="shortcut icon" />

  <!-- ITALYRENTS JS --> 
  <script src="../scripts/italyrents-js/select_all.js"></script>
  <script src="../scripts/italyrents-js/loader.js"></script>
  <script src="../scripts/italyrents-js/query_rating_classes.js"></script>

</head>


  <body id="body" class="sidebar-fixed sidebar-dark" onload="initialSelection();">
    <div class="mobile-sticky-body-overlay"></div>

    <div class="wrapper">
      
              <!--
          ====================================
          ——— LEFT SIDEBAR WITH FOOTER
          =====================================
        -->
        <aside class="left-sidebar bg-sidebar">
          <div id="sidebar" class="sidebar sidebar-with-footer">
            <!-- Aplication Brand -->
            <div class="app-brand">
              <a id="sidebar-toggler" class="sidebar-toggle" href="javascript:void(0)">
				<svg
                  class="brand-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid"
                  width="30"
                  height="33"
                  viewBox="0 0 30 33"
                >
                  <g fill="none" fill-rule="evenodd">
                    <path
                      class="logo-fill-blue"
                      fill="#7DBCFF"
                      d="M0 4v25l8 4V0zM22 4v25l8 4V0z"
                    />
                    <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
                  </g>
                </svg>
                <span class="brand-name">Italy Rents Menu</span>
              </a>
            </div>
            <!-- begin sidebar scrollbar -->
            <div class="sidebar-scrollbar">
              <!-- sidebar menu -->
              <ul class="nav sidebar-inner" id="sidebar-menu">               
                <li  class="has-sub expand" >
                  <a class="sidenav-item-link" href="/ItalyRents/rentCount">
                    <i class="mdi mdi-chart-bar"></i>
                    <span class="nav-text">Rent Count</span>
                  </a>
                </li>
                <li  class="has-sub expand" >
                  <a class="sidenav-item-link" href="/ItalyRents/amenityAndProperty">
                    <i class="mdi mdi-table-large"></i>
                    <span class="nav-text">Amenity & Property</span>
                  </a>
                </li>
                <li  class="has-sub expand" >
                  <a class="sidenav-item-link" href="/ItalyRents/ratingAnalyzer">
                    <i class="mdi mdi-chart-bar"></i>
                    <span class="nav-text">Rating Analyzer</span>
                  </a>
                </li>
                <li  class="has-sub active expand" >
                  <a class="sidenav-item-link" href="">
                    <i class="mdi mdi-table-large"></i>
                    <span class="nav-text">Rating Classes</span>
                  </a>
                </li>
                <li  class="has-sub expand" >
                  <a class="sidenav-item-link" href="/ItalyRents/squareMetresClasses">
                    <i class="mdi mdi-chart-pie"></i>
                    <span class="nav-text">Square Metres Classes</span>
                  </a>
                </li>
              </ul>
            </div>
         
          </div>
        </aside>

      <div class="page-wrapper">
        <div class="content-wrapper">
          <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-header card-header-border-bottom">
                          <h2>Query Options</h2>
                        </div>
                        <div id="queryOptions" class="card-body">
                          <p class="text-dark font-weight-medium mb-3">Location</p>
                          <div class="selectsContainer">
                            <div id="regionContainer" class="selectContainer">
                              <p>Cities</p>
                              <div class="form-group">
                                <select id="selectCities" class="js-example-basic-multiple form-control" name="city">
                                  <option value="All" selected>All</option>
                                  <option value="Bergamo">Bergamo</option>
                                  <option value="Bologna">Bologna</option>
                                  <option value="Firenze">Firenze</option>
                                  <option value="Milano">Milano</option>
                                  <option value="Napoli">Napoli</option>
                                  <option value="Roma">Roma</option>
                                  <option value="Venezia">Venezia</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <p class="text-dark font-weight-medium mb-3">Ratings</p>
                          <ul id="ratings" class="list-unstyled list-inline">
                            <li class="d-inline-block mr-3">
                              <label class="control control-radio">Accuracy
                                <input name="rating" value="accuracy" type="radio" checked="true" />
                                <div class="control-indicator"></div>
                              </label>
                            </li>
                            <li class="d-inline-block mr-3">
                                <label class="control control-radio">Cleanliness
                                  <input name="rating" value="cleanliness" type="radio"/>
                                  <div class="control-indicator"></div>
                                </label>
                            </li>
                            <li class="d-inline-block mr-3">
                                <label class="control control-radio">Checkin
                                  <input name="rating" value="checkin" type="radio"/>
                                  <div class="control-indicator"></div>
                                </label>
                            </li>
                            <li class="d-inline-block mr-3">
                                <label class="control control-radio">Communication
                                  <input name="rating" value="communication" type="radio"/>
                                  <div class="control-indicator"></div>
                                </label>
                            </li>
                            <li class="d-inline-block mr-3">
                                <label class="control control-radio">Location
                                  <input name="rating" value="location" type="radio"/>
                                  <div class="control-indicator"></div>
                                </label>
                            </li>
                          </ul>
                          <br/>
                          <p class="text-dark font-weight-medium mb-3">Property Types</p>
                          <label class="control control-checkbox">All
                              <input onchange="tooglePropertyTypes(this)" type="checkbox"/>
                              <div class="control-indicator"></div>
                          </label>
                          <ul id="propertyTypes" class="list-unstyled list-inline">
                            <li class="d-inline-block mr-3">
                              <label class="control control-checkbox">Apartment
                                <input name="Apartment" type="checkbox"/>
                                <div class="control-indicator"></div>
                              </label>
                            </li>
                            <li class="d-inline-block mr-3">
                                <label class="control control-checkbox">Bed and breakfast
                                  <input name="Bed and breakfast" type="checkbox"/>
                                  <div class="control-indicator"></div>
                                </label>
                            </li>
                            <li class="d-inline-block mr-3">
                              <label class="control control-checkbox">Boutique hotel
                                <input name="Boutique hotel" type="checkbox"/>
                                <div class="control-indicator"></div>
                              </label>
                            </li>
                            <li class="d-inline-block mr-3">
                              <label class="control control-checkbox">Condominium
                                <input name="Condominium" type="checkbox"/>
                                <div class="control-indicator"></div>
                              </label>
                            </li>
                            <li class="d-inline-block mr-3">
                              <label class="control control-checkbox">Hotel
                                <input name="Hotel"type="checkbox"/>
                                <div class="control-indicator"></div>
                              </label>
                            </li>
                            <li class="d-inline-block mr-3">
                                <label class="control control-checkbox">House
                                  <input name="House" type="checkbox"/>
                                  <div class="control-indicator"></div>
                                </label>
                            </li>
                            <li class="d-inline-block mr-3">
                                <label class="control control-checkbox">Loft
                                  <input name="Loft" type="checkbox"/>
                                  <div class="control-indicator"></div>
                                </label>
                            </li>
                            <li class="d-inline-block mr-3">
                              <label class="control control-checkbox">Villa
                                <input name="Villa" type="checkbox"/>
                                <div class="control-indicator"></div>
                              </label>
                            </li>
                          </ul>
                          <br/>
                          <p class="text-dark font-weight-medium mb-3">Amenities</p>
                          <label class="control control-checkbox">All
                              <input onchange="toogleAmenities(this)" type="checkbox"/>
                              <div class="control-indicator"></div>
                          </label>
                          <ul id="amenities" class="list-unstyled list-inline">
                            <li class="d-inline-block mr-3">
                              <label class="control control-checkbox">TV
                                <input name="TV" type="checkbox"/>
                                <div class="control-indicator"></div>
                              </label>
                            </li>
                            <li class="d-inline-block mr-3">
                                <label class="control control-checkbox">Wifi
                                  <input name="Wifi" type="checkbox"/>
                                  <div class="control-indicator"></div>
                                </label>
                            </li>
                            <li class="d-inline-block mr-3">
                                <label class="control control-checkbox">Air conditioning
                                  <input name="Air_conditioning" type="checkbox"/>
                                  <div class="control-indicator"></div>
                                </label>
                            </li>
                            <li class="d-inline-block mr-3">
                                <label class="control control-checkbox">Kitchen
                                  <input name="Kitchen" type="checkbox"/>
                                  <div class="control-indicator"></div>
                                </label>
                            </li>
                            <li class="d-inline-block mr-3">
                                <label class="control control-checkbox">Pets allowed
                                  <input name="Pets_allowed" type="checkbox"/>
                                  <div class="control-indicator"></div>
                                </label>
                            </li>
                            <li class="d-inline-block mr-3">
                                <label class="control control-checkbox">Elevator
                                  <input  name="Elevator" type="checkbox"/>
                                  <div class="control-indicator"></div>
                                </label>
                            </li>
                            <li class="d-inline-block mr-3">
                                <label class="control control-checkbox">Smoking allowed
                                  <input name="Smoking_allowed" type="checkbox"/>
                                  <div class="control-indicator"></div>
                                </label>
                            </li>
                            <li class="d-inline-block mr-3">
                                <label class="control control-checkbox">Iron
                                  <input name="Iron" type="checkbox"/>
                                  <div class="control-indicator"></div>
                                </label>
                            </li>
                            <li class="d-inline-block mr-3">
                                <label class="control control-checkbox">Hair dryer
                                  <input name="Hair_dryer" type="checkbox"/>
                                  <div class="control-indicator"></div>
                                </label>
                            </li>
                            <li class="d-inline-block mr-3">
                                <label class="control control-checkbox">Gym
                                  <input name="Gym" type="checkbox"/>
                                  <div class="control-indicator"></div>
                                </label>
                            </li>
                            <li class="d-inline-block mr-3">
                                <label class="control control-checkbox">Washer
                                  <input name="Washer" type="checkbox"/>
                                  <div class="control-indicator"></div>
                                </label>
                            </li>
                          </ul>
                        <br/>
                        <hr>
                        <div class="submitContainer">
                          <button type="button" onclick="retrievalData()" class="mb-1 btn btn-primary">Show Data</button>
                        </div>
                      </div>
                    </div>
                  </div>
							<!-- TABLE SPACE -->
						</div>
					</div>
      </div>

            <footer class="footer mt-auto">
            <div class="copyright bg-white">
              <p>
                &copy; <span id="copy-year">2019</span> Copyright Sleek Dashboard Bootstrap Template by
                <a
                  class="text-primary"
                  href="http://www.iamabdus.com/"
                  target="_blank"
                  >Abdus</a
                >.
              </p>
            </div>
            <script>
                var d = new Date();
                var year = d.getFullYear();
                document.getElementById("copy-year").innerHTML = year;
            </script>
          </footer>

      </div>
    </div>

    
<script src="../scripts/plugins/jquery/jquery.min.js"></script>
<script src="../scripts/plugins/bootstrap/bootstrap.bundle.min.js"></script>
<script src="../scripts/plugins/slimscrollbar/jquery.slimscroll.min.js"></script>
<script src="../scripts/plugins/charts/Chart.min.js"></script>
<script src="../scripts/plugins/jquery-mask-input/jquery.mask.min.js"></script>
<script src="../scripts/plugins/select2/js/select2.min.js"></script>
<script src="../scripts/js/sleek.js"></script>
<script src="../scripts/js/custom.js"></script>
  </body>
</html>
