<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Italy Rents</title>

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet"/>
  <link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet" />

  <!-- PLUGINS CSS STYLE -->
  <link href="../styles/plugins/toaster/toastr.min.css" rel="stylesheet" />
  <link href="../styles/plugins/nprogress/nprogress.css" rel="stylesheet" />
  <link href="../styles/plugins/flag-icons/css/flag-icon.min.css" rel="stylesheet"/>
  <link href="../styles/plugins/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
  <link href="../styles/plugins/ladda/ladda.min.css" rel="stylesheet" />
  <link href="../styles/plugins/select2/select2.min.css" rel="stylesheet" />
  <link href="../styles/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
  
  <!-- SLEEK CSS -->
  <link id="sleek-css" rel="stylesheet" href="../styles/css/sleek.css" />

  <!-- NOUISLIDER CSS -->
  <link href="../styles/noUiSlider/nouislider.min.css" rel="stylesheet" />

  <!-- ITALYRENTS CSS -->
  <link href="../styles/italyrents-css/fixed_styles.css" rel="stylesheet" />
  <link href="../styles/italyrents-css/slider.css" rel="stylesheet" />
  <link href="../styles/italyrents-css/select_box.css" rel="stylesheet" />
  <link href="../styles/italyrents-css/rating_analyzer_page.css" rel="stylesheet" />
  <link href="../styles/italyrents-css/loader.css" rel="stylesheet" />

  <!-- FAVICON -->
  <link href="../images/favicon.png" rel="shortcut icon" />

  <!--
    HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="../scripts/plugins/nprogress/nprogress.js"></script>

  <!-- NOUISLIDER JS -->
  <script src="../scripts/wNumb/wNumb.js"></script>

  <!-- NOUISLIDER JS -->
  <script src="../scripts/noUiSlider/nouislider.min.js"></script>

  <!-- ITALYRENTS JS --> 
  <script src="../scripts/italyrents-js/select_all.js"></script>
  <script src="../scripts/italyrents-js/sliders.js"></script>
  <script src="../scripts/italyrents-js/neighbourhoods.js"></script>
  <script src="../scripts/italyrents-js/query_rating_analyzer.js"></script>
  <script src="../scripts/italyrents-js/loader.js"></script>
</head>
  <body class="sidebar-fixed sidebar-dark" id="body" onload="loadNeighbourhoods();">
    <script>
      NProgress.configure({ showSpinner: false });
      NProgress.start();
    </script>

    <div class="mobile-sticky-body-overlay"></div>

    <div class="wrapper">
      
              <!--
          ====================================
          ——— LEFT SIDEBAR WITH FOOTER
          =====================================
        -->
        <aside class="left-sidebar bg-sidebar">
          <div id="sidebar" class="sidebar sidebar-with-footer">
            <!-- Aplication Brand -->
            <div class="app-brand">
              <a id="sidebar-toggler" class="sidebar-toggle" href="javascript:void(0)">
				        <svg
                  class="brand-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid"
                  width="30"
                  height="33"
                  viewBox="0 0 30 33"
                >
                  <g fill="none" fill-rule="evenodd">
                    <path
                      class="logo-fill-blue"
                      fill="#7DBCFF"
                      d="M0 4v25l8 4V0zM22 4v25l8 4V0z"
                    />
                    <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
                  </g>
                </svg>
                <span class="brand-name">Italy Rents Menu</span>
              </a>
            </div>
            <!-- begin sidebar scrollbar -->
            <div class="sidebar-scrollbar">
              <!-- sidebar menu -->
              <ul class="nav sidebar-inner" id="sidebar-menu">               
                  <li  class="has-sub expand" >
                    <a class="sidenav-item-link" href="/ItalyRents/rentCount">
                      <i class="mdi mdi-chart-bar"></i>
                      <span class="nav-text">Rent Count</span>
                    </a>
                  </li>
                  <li  class="has-sub expand" >
                    <a class="sidenav-item-link" href="#2">
                      <i class="mdi mdi-chart-pie"></i>
                      <span class="nav-text">Price vs. Rating</span>
                    </a>
                  </li>
                  <li  class="has-sub active expand" >
                    <a class="sidenav-item-link" href="">
                      <i class="mdi mdi-chart-pie"></i>
                      <span class="nav-text">Rating Analyzer</span>
                    </a>
                  </li>
                  <li  class="has-sub expand" >
                    <a class="sidenav-item-link" href="#4">
                      <i class="mdi mdi-chart-pie"></i>
                      <span class="nav-text">Q4</span>
                    </a>
                  </li>
                  <li  class="has-sub expand" >
                    <a class="sidenav-item-link" href="#5">
                      <i class="mdi mdi-chart-pie"></i>
                      <span class="nav-text">Q5</span>
                    </a>
                  </li>
              </ul>
            </div>
          </div>
        </aside>

      <div class="page-wrapper">
        <div class="content-wrapper">
          <div class="content">						
            <div class="row">
							<div class="col-12">
								<div class="card card-default">
                  <div class="card-header card-header-border-bottom">
                    <h2>Query Options</h2>
                  </div>
                  <div id="queryOptions" class="card-body">
                    <p class="text-dark font-weight-medium mb-3">Location</p>
                    <div class="selectsContainer">
                      <div id="regionContainer" class="selectContainer">
                        <p>Cities</p>
                        <div class="form-group">
                          <select id="selectCities" class="js-example-basic-multiple form-control" name="city" onchange="loadNeighbourhoods(this)">
                            <option value="All" selected>All</option>
                            <option value="Bergamo">Bergamo</option>
                            <option value="Bologna">Bologna</option>
                            <option value="Firenze">Firenze</option>
                            <option value="Milano">Milano</option>
                            <option value="Napoli">Napoli</option>
                            <option value="Roma">Roma</option>
                            <option value="Venezia">Venezia</option>
                          </select>
                        </div>
                      </div>
                      <div id="neighbourhoodContainer" class="selectContainer">
                        <p>Neighbourhoods</p>
                        <div class="form-group">
                          <select id="selectNeighbourhoods" class="js-example-basic-multiple form-control" name="neighbourhood" disabled>
                          </select>
                        </div>
                      </div>
                    </div>
                    <p class="text-dark font-weight-medium mb-3">Amenities</p>
                    <label class="control control-checkbox">All
                        <input onchange="toogleAmenities(this)" type="checkbox"/>
                        <div class="control-indicator"></div>
                    </label>
                    <ul id="amenities" class="list-unstyled list-inline">
                      <li class="d-inline-block mr-3">
                        <label class="control control-checkbox">TV
                          <input name="TV" type="checkbox"/>
                          <div class="control-indicator"></div>
                        </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Wifi
                            <input name="Wifi" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Air conditioning
                            <input name="Air_conditioning" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Kitchen
                            <input name="Kitchen" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Pets allowed
                            <input name="Pets_allowed" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Elevator
                            <input name="Elevator" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Smoking allowed
                            <input name="Smoking_allowed" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Iron
                            <input name="Iron" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Hair dryer
                            <input name="Hair_dryer" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Gym
                            <input name="Gym" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Washer
                            <input name="Washer" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                    </ul>
                    <br/>
                    <p class="text-dark font-weight-medium mb-3">Property Types</p>
                    <label class="control control-checkbox">All
                        <input onchange="tooglePropertyTypes(this)" type="checkbox"/>
                        <div class="control-indicator"></div>
                    </label>
                    <ul id="propertyTypes" class="list-unstyled list-inline">
                      <li class="d-inline-block mr-3">
                        <label class="control control-checkbox">Apartment
                          <input name="Apartment" type="checkbox"/>
                          <div class="control-indicator"></div>
                        </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Bed and breakfast
                            <input name="Bed and breakfast" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">House
                            <input name="House" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Condominium
                            <input name="Condominium" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Villa
                            <input name="Villa" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Hotel
                            <input name="Hotel"type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Loft
                            <input name="Loft" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Boutique hotel
                            <input name="Boutique hotel" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                    </ul>
                    <br/>
                    
                    <p class="text-dark font-weight-medium mb-3">Ratings to show</p>
                    <label class="control control-checkbox">All
                        <input onchange="toogleRatings(this)" type="checkbox"/>
                        <div class="control-indicator"></div>
                    </label>
                    <ul id="ratingsToShow" class="list-unstyled list-inline">
                      <li class="d-inline-block mr-3">
                        <label class="control control-checkbox">Accuracy
                          <input name="accuracy" type="checkbox"/>
                          <div class="control-indicator"></div>
                        </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Cleanliness
                            <input name="cleanliness" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Checkin
                            <input name="checkin" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Communication
                            <input name="communication" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                      <li class="d-inline-block mr-3">
                          <label class="control control-checkbox">Location
                            <input name="location" type="checkbox"/>
                            <div class="control-indicator"></div>
                          </label>
                      </li>
                    </ul>
                    <div id="ratingTypeContainer" class="selectContainer">
                      <p>Rating type</p>
                      <div class="form-group">
                        <select class="js-example-basic-multiple form-control" name="rating_type">
                          <option value="avg" selected>Avg</option>
                          <option value="min">Min</option>
                          <option value="max">Max</option>
                        </select>
                      </div>
                    </div>

                    <br/>
                    <hr>
                    <div class="submitContainer">
                      <button type="button" onclick="retrievalData()" class="mb-1 btn btn-primary">Show Data</button>
                    </div>
                  </div>
                </div>
              </div>

							<div class="col-12">
                <div class="card card-default">
									<div class="card-header justify-content-center">
										<h2 class="text-center">Simple Line Chart</h2>
									</div>
									<div class="card-body" style="height: 450px;">
										<canvas id="linechart" class="chartjs"></canvas>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="card card-default">
									<div class="card-header justify-content-center">
										<h2 class="text-center">Dual Line Chart</h2>
									</div>
									<div class="card-body" style="height: 300px;">
										<canvas id="dual-line"></canvas>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="card card-default">
									<div class="card-header justify-content-center">
										<h2 class="text-center">Area Chart</h2>
									</div>
									<div class="card-body" style="height: 300px;">
										<canvas id="area-chart"></canvas>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="card card-default pb-5">
									<div class="card-header justify-content-center">
										<h2 class="text-center">Bar Chart</h2>
									</div>
									<div class="card-body" style="height: 300px;">
										<canvas id="bar3"></canvas>
										<div id='customLegend' class='customLegend'></div>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="card card-default">
									<div class="card-header justify-content-center">
										<h2 class="text-center">Product Line Chart</h2>
									</div>
									<div class="card-body">
										<canvas id="activity"></canvas>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="card card-default">
									<div class="card-header justify-content-center">
										<h2 class="text-center">Multiple Statistics</h2>
									</div>
									<div class="card-body" style="height: 380px;">
										<canvas id="mstat"></canvas>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="card card-default">
									<div class="card-header justify-content-center">
										<h2 class="text-center">Donut Chart</h2>
									</div>
									<div class="card-body" style="height: 400px;">
										<canvas id="deviceChart"></canvas>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="card card-default">
									<div class="card-header justify-content-center">
										<h2 class="text-center">Polar Chart</h2>
									</div>
									<div class="card-body" style="height: 400px;">
										<canvas id="polar"></canvas>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="card card-default">
									<div class="card-header justify-content-center">
										<h2 class="text-center">Radar Chart</h2>
									</div>
									<div class="card-body" style="height: 400px;">
										<canvas id="radar"></canvas>
									</div>
								</div>
							</div>
						</div>
</div>

          


        </div>

          <footer class="footer mt-auto">
            <div class="copyright bg-white">
              <p>
                &copy; <span id="copy-year">2019</span> Copyright Sleek Dashboard Bootstrap Template by
                <a
                  class="text-primary"
                  href="http://www.iamabdus.com/"
                  target="_blank"
                  >Abdus</a
                >.
              </p>
            </div>
            <script>
                var d = new Date();
                var year = d.getFullYear();
                document.getElementById("copy-year").innerHTML = year;
            </script>
          </footer>

      </div>
    </div>

    
<script src="../scripts/plugins/jquery/jquery.min.js"></script>
<script src="../scripts/plugins/bootstrap/bootstrap.bundle.min.js"></script>
<script src="../scripts/plugins/toaster/toastr.min.js"></script>
<script src="../scripts/plugins/slimscrollbar/jquery.slimscroll.min.js"></script>
<script src="../scripts/plugins/charts/Chart.min.js"></script>
<script src="../scripts/plugins/ladda/spin.min.js"></script>
<script src="../scripts/plugins/ladda/ladda.min.js"></script>
<script src="../scripts/plugins/jquery-mask-input/jquery.mask.min.js"></script>
<script src="../scripts/plugins/select2/js/select2.min.js"></script>
<script src="../scripts/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
<script src="../scripts/plugins/jvectormap/jquery-jvectormap-world-mill.js"></script>
<script src="../scripts/plugins/daterangepicker/moment.min.js"></script>
<script src="../scripts/plugins/daterangepicker/daterangepicker.js"></script>
<script src="../scripts/js/sleek.js"></script>
<script src="../scripts/js/chart.js"></script>
<script src="../scripts/js/date-range.js"></script>
<script src="../scripts/js/map.js"></script>
<script src="../scripts/js/custom.js"></script>

<script src="../scripts/italyrents-js/rating_analyzer_page.js"></script>

  </body>
</html>
